h1{
    color: blue;
}

.p1{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.box{
    height:20px;
    width:200px;
    padding: 100px;
    margin: 20px;
    border: 10px solid black;
    background-color: blue;
    text-align: center;
}